@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

/* Layout
-------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html, body {
	padding: 0 1em;
	margin: auto;
	max-width: 42em;
	background: #fefefe;
}
	
body {
	font: 20px "Vollkorn", Palatino, Times;
	color: #333;
	line-height: 1.2;
	text-align: justify;
}

header, nav, article, footer {
	position: relative;
	margin: 0 auto;
}

article {
	margin-top: 4em;
	margin-bottom: 4em;
	min-height: 25em;
}

footer {
	margin: 4em 0;
	color: #999;
	font-style: italic;
	text-align: center;
}

video {
	margin: 2em 0;
	border: 1px solid #ddd;
}

nav {
	font-size: .9em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
}

nav p {
	margin: 0;
}

/* Typography
-------------------------------------------------------- */

h1 {
	margin-top: 0;
	font-weight: normal;
	font-size: 2em;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
	font-style: italic;
	margin-top: 3em;
}

p {
	margin-top: 0;
	-webkit-hypens: auto;
	-moz-hypens: auto;
	hyphens: auto;
}

small {
	font-size: 0.7em;
}

ul {
	list-style: square;
	padding-left: 1.2em;
}

ol {
	padding-left: 1.2em;
}

blockquote {
	margin: 1em -2em;
	text-align: center;
	font-size: 2em;
}

code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	background: white;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px #333 dashed;
	line-height: 0.8em;
	display: inline-block;
}

a:hover {
	color: black;
	border-bottom-color: black;
}

a img {
	border:none;
}

h1 a, h1 a:hover,
h2 a, h2 a:hover,
h3 a, h3 a:hover {
	border-bottom: none;
	line-height: inherit;
}

hr {
	color: #ddd;
	height: 1px;
	border-top: solid 1px #ddd;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
	margin: 2em;
}

.red {
	color: #B50000;
}


/* iPad
-------------------------------------------------------- */

@media only screen and (max-device-width: 1024px) {
	body {
		font-size: 120%;
		line-height: 1.4;
	}
}

/* iPhone
-------------------------------------------------------- */

@media only screen and (max-device-width: 480px) {
	body {
		text-align: left;
	}

	article, footer {
		width: auto;
	}

	article {
		padding: 0 10px;
	}
}

/* Blog Specific
--------------------------- */

a.back-btn {
	position: absolute;
	left: -35px;
	line-height: 1.6em;
	color: #bbb;
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
	border-bottom: none;
}

a.back-btn:hover {
	color: #666;
	text-decoration: none;
}