<%
var months = [ "January", "February", "March", "April",
	"May", "June", "July", "August",
	"October", "November", "December" ];

function dateFormat(d) {
	if (!(d instanceof Date)) d = new Date(d);
	return months[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
}
%>

<article>
	<h<%= $.isList ? "2" : "1" %>>
		<% if ($.isList) { %><a href="<%= $.url %>"><% } %>
		<%= $.title %>
		<% if ($.isList) { %></a><% } %>
	</h<%= $.isList ? "2" : "1" %>>
	<h3><%= dateFormat($.date) %></h3>
	<%= $.body %>
</article>